*,
root,
html {
  padding: 5px;
  box-sizing: border-box;
}

body {
  background-image: url("../images/home.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}
span{
  color: #fff
}
strong{
  color: #fff
}

.btn_support {
  float: right;
  width: 153px;
  height: 56px;

  background: #8257e6;
  border-radius: 68px;
  text-align: center;
  color: #fff;
  outline: none;
  border: 0;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  position: absolute;
  bottom: 30px;
  right: 10px;
  cursor: pointer;
}

.btn_support:hover {
  opacity: 0.9;
}

.chat {
  display: none;
  font-family: "Roboto", sans-serif;
}

.in_support_header {
  float: right;
  width: 400px;
  height: 56px;
  background: #8257e6;
  border-radius: 16px 16px 0px 0px;
  display: flex;
  justify-content: space-between;
}

.in_support_header span {
  color: #fff;
  display: flex;
  align-items: center;
}

.icon_close {
  align-items: center;
  display: flex;
  cursor: pointer;
}

.icon_close:hover {
  opacity: 0.7;
}

.chat_support {
  position: absolute;
  max-width: 410px;
  right: 10px;
  animation: up 1s;
  bottom: 0px;
   background-color: #fff;
}

.chat_support_hide {
  animation: down 1s;
  animation-fill-mode: forwards;
}

@keyframes up {
  from {
    transform: translateY(60vh);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100vh);
  }
}

.client {
  display: flex;
  flex-direction: column;
  color: #8257e6;
}

.client .name {
  text-align: end;
}

.client_message {
  background: #f2ecfa;
  padding: 20px 10px;
  width: 250px;
  margin: 10px 0 10px 30px;
  border-radius: 4px;
  line-height: 20px;
}

.client_message_add {

  color: #6f5eab;
}

.text_support {
  border: 1px solid #cec9c9;
  max-height: 500px;
  overflow-y: scroll;
  background-color: #fff;
}

.admin {
  display: flex;
  flex-direction: column;
}

.admin_message_return {
  color: #fff;
}

.message_send {
  display: flex;
  justify-content: space-between;
  border: 1px solid #cec9c9;
  align-items: center;
  background-color: #fff;
}

.message_send input {
  outline: none;
  height: 34px;
  align-items: center;
  width: 252px;
}

.send_message_button {
  display: flex;
  cursor: pointer;
}

.send_message_button:hover {
  opacity: 0.7;
}

.line {
  border: 1px solid #e9e9e9;
  padding: 0;
  margin: 0;
}

.text_help {
  padding-top: 8px;
}

.text_help textarea {
  width: 360px;
  height: 115px;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #6f5eab;
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

.first_email {
  display: flex;
  flex-direction: column;
  margin-top: 34px;
}

.first_email input {
  border: 1px solid #6f5eab;
  box-sizing: border-box;
  border-radius: 4px;
  height: 42px;
  width: 360px;
}

input[type="text"]:focus {
  outline: 1px solid #a8a8a8;
}

.btn_start_chat {
  width: 121px;
  height: 40px;

  background: #8257e6;
  border-radius: 4px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn_start_chat:hover {
  opacity: 0.8;
}

.btn_cancel {
  width: 121px;
  height: 40px;
  background: #8257e69c;
  border-radius: 4px;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 5%;
}

.btn_cancel:hover {
  opacity: 0.4;
  background: red;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

#txt_help:focus {
  outline: 1px solid #a8a8a8;
}

.charac_remaining {
  font-size: 10px;
  float: right;
}

.date {
  text-align: right;
  font-size: 5px;
}


.container {
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.container:hover{
  box-shadow: rgb(130 87 230) 0px 0px 0px 2px inset;
}


.value {
  padding: 10px;
  margin: 8px;
  background: #8257e6;
  color: #fff;
  border-radius: 2px;
  width: 35px;
  text-align: center;
  text-decoration: none;
}

.value:hover {
  opacity: 0.9;
}

.level {
  display: flex;
  margin: 8px;
  justify-content: space-between;
  width: 371px;
}

.text-chat{
  color: #8257e6;
}

.close-medu:hover{
  color: #fff!important;
  border-radius: 5px !important;
  background: #8257e6!important;
}
.answers {
  width: 520px;
  display: flex;
  justify-content: space-between;
}

.email-client{
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  padding: 0px 8px;
  border-bottom: 2px solid transparent;
  font-size: 10px;
  font-weight: 400;
  color: rgb(115, 115, 128);
  transition: color 0.2s ease 0s, border-color 0.2s ease 0s;
}


.btn_atd {
  cursor: pointer;
  color: #fff;
  background: #8257e6;
  border: none;
  height: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.btn_atd:hover {
  opacity: 0.9;
}

.admin {
  border: 1px solid #ededed;
  margin-top: 5px;
  text-align: right;
}

.email {
  float: left;
  width: 350px;
}

.admin_send_message {
  display: flex;
  flex-direction: row;
}

.admin_send_message input {
  width: 300px;
  margin-right: 10px;
}

.admin_send_message button {
  width: 100px;
  cursor: pointer;
}

.admin_list_messages {
  height: 300px;
  overflow-y: scroll;
}

.admin_message_admin {
  width: 300px;
  background: #28cb73;
  padding: 10px;
  margin: 12px;
  display: flex;
  flex-direction: column;

  border-radius: 10px;

  font-family: "Roboto", sans-serif;
}

#atendimentos {
  width: 600px;
}

.admin_message_client {
  width: 300px;
  background: #6f5eab;
  padding: 10px;
  margin: 10px;
  color: #eee;
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  font-family: "Roboto", sans-serif;
}

.admin_date {
  font-size: 10px;
  color: #fff;
}

.in_support {
  background: #8d7aef;
  color: #fff;
  font-size: 17px;
}

.btn_send {
  background: #1eb363;
  color: #eee;
  border: none;
}

.btn_send:hover {
  opacity: 0.8;
}

.text-adm{
  color: #6f5eab;
}
.admin_name{
  color: rgb(115, 115, 128);
  font-size: 10px;
  font-weight: 400;
}